asgiref==3.2.10
backcall==0.2.0
boto3==1.14.28
botocore==1.17.28
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
click==7.1.2
colorama==0.4.4
cssselect2==0.3.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.1.1
django-model-utils==4.0.0
django-storages==1.9.1
docutils==0.15.2
ecdsa==0.14.1
gunicorn==20.0.4
h11==0.11.0
html5lib==1.1
idna==2.10
ipython==7.18.1
ipython-genutils==0.2.0
jedi==0.17.2
jmespath==0.10.0
jsonfield==3.1.0
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==3.0.8
psycopg2==2.8.5
psycopg2-binary==2.8.5
pyasn1==0.4.8
pycparser==2.20
Pygments==2.7.1
Pyphen==0.9.5
python-dateutil==2.8.1
python-jose==3.2.0
pytz==2020.1
reportlab==3.5.45
requests==2.24.0
rsa==4.6
s3transfer==0.3.3
six==1.15.0
sqlparse==0.3.1
swapper==1.1.2.post1
traitlets==5.0.4
typing-extensions==3.7.4.3
urllib3==1.25.9
uvicorn==0.12.2
wcwidth==0.2.5
webencodings==0.5.1
whitenoise==5.2.0